.App {
  text-align: center;
}

#window {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}

#LeftColumn {
  display: flex;
  /* Required for Safari */
  position: -webkit-sticky; 
  position: sticky;

  justify-content: center;
  justify-items: center;

  /* Required for Safari */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.feed {
  border: 2px solid black;
  padding: 2px;
}

#inputfield {
  position: -webkit-sticky;
  /* Required for Safari */
  position: sticky;
  top: 0;
}

#form {
  display: flex;
  justify-items: center;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
}

#musicInput {
  width: 99%;
}