.feeditem {
    border: 2px solid black;
    margin: 4px
}

.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedButtons {
    display: flex;
    flex-direction: row;
}