.App {
    text-align: center;
  }
  
  .feed {
    display: grid;
    grid-column-start: 2;
    grid-column-end: five;
    justify-content: center;
    justify-items: center;

    border: 2px solid red;
  }

  #inputfield {
    border: 2px solid blue;
  }