.App {
  text-align: center;
}

#window {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}

#WindowRightCol {
  width: 40%;
}

#WindowLeftCol {
  width: 8%;
  display: grid;
  justify-content: center;
}

.inputRowRow {
  display: flex;
  flex-direction: row;
  width: 99%;
  padding: 1px;

}

.inputRowRow > input {
  width: -webkit-fill-available;
}

.inputRowCol {
  display: flex;
  flex-direction: column;
  padding: 1px;

}

#inputTopRow {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  padding: 1px;

}

#inputTopRow > input {
  width: 100%;
}

.feed {
  display: flex;
  flex-grow: 1;
  border: 2px solid #BB68FC;
  padding: 2px;
  padding-right: 14px;
  flex-direction: column;
  align-items: stretch;
  padding-left: 14px;
}

#inputfield {
  position: -webkit-sticky;
  /* Required for Safari */
  position: sticky;

  display: flex;
  width: 70%;
  align-self: center;
  justify-content: center;
  border: 2px solid #03DAC6;
  background-color: #141414;
  top: 2px;
  z-index: 9;
  padding: 2px;

}

#form {
  display: flex;
  padding: 2px;
  justify-items: center;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
  width: -webkit-fill-available;
}

#radio {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-size: small;
}
/* 
this doesn't work yet, but
I want to disallow selection
on the parent textarea (even
though it is read only).
*/
.parent {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}