@font-face {
  font-family: "Karrik-regular";
  src: url('../public/Karrik-Regular.ttf');
}

body {
  margin: 0;
  font-family: "Karrik-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  background-color: #141414;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}