.rightColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    position: -webkit-sticky;
    /* Required for Safari */
    position: sticky;
    top: 0;
}

.tooltip {
    display: none;
}

.lickName:hover + .tooltip {
    display: block;
}

.savedLicks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    position: -webkit-sticky;
    /* Required for Safari */
    position: sticky;
    top: 0;
    color:#BB68FC
}